/* Footer */
footer,
.bg-index {
	position: relative;
	background: url("/assets/bg/footerbg.jpg") no-repeat center/cover;
}

footer::before,
.bg-index::before {
	content: "";
	position: absolute;
	inset: 0;
	background: black;
	opacity: 0.9;
	z-index: 1;
}

footer > *,
.bg-index > * {
	position: relative;
	z-index: 2;
}

.grid-footer {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 0.5em;
}

@media (width <= 1024px) {
	.grid-footer {
		grid-template-columns: 1fr;
		justify-content: center;
		text-align: center;
	}
}

article.grid-footer:nth-child(2) {
	grid-column: 2;
}

.text-style {
	color: var(--highlight-secondary);
}

p.text-style {
	font-size: var(--step--1);
}
