/* Index Hero */
.hero-index {
	position: relative;
	background-image: url("/assets/bg/header_bg_2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	animation: heroFade 2s ease forwards;
	opacity: 0;
}

@media (max-width: 640px) {
	.hero-index {
		background-size: 400%;
		background-position: center;
		height: 600px;
	}
}

@keyframes heroFade {
	to {
		opacity: 1;
	}
}

.hero-index::before {
	content: "";
	position: absolute;
	inset: 0;
	background: black;
	opacity: 0.65;
	z-index: 1;
}

.hero-index > * {
	position: relative;
	z-index: 2;
}

/* Global navigation */
.nav-style {
	padding: 20px;
	border-top: 2px solid var(--highlight-primary);
	border-bottom: 2px solid var(--highlight-primary);
	background:
		linear-gradient(135deg, var(--highlight-primary) 0 32px, transparent 32px) top left,
		linear-gradient(-45deg, var(--highlight-primary) 0 32px, transparent 32px) bottom right;

	background-size: 64px 64px;
	background-repeat: no-repeat;
}

/* Footer */
footer,
.bg-index {
	position: relative;
	background: url("/assets/bg/footerbg.jpg") no-repeat center/cover;
}

footer::before,
.bg-index::before {
	content: "";
	position: absolute;
	inset: 0;
	background: black;
	opacity: 0.9;
	z-index: 1;
}

footer > *,
.bg-index > * {
	position: relative;
	z-index: 2;
}

.grid-footer {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 0.5em;
}

@media (width <= 1024px) {
	.grid-footer {
		grid-template-columns: 1fr;
		justify-content: center;
		text-align: center;
	}
}

article.grid-footer:nth-child(2) {
	grid-column: 2;
}

.text-style {
	color: var(--highlight-secondary);
}

p.text-style {
	font-size: var(--step--1);
}
